

REACT_APP_GEMINI_API_KEY=AIzaSyCAddhYHYDG7isKlagXjzEmzMSn7y2RgWs
##
## Yaikh AI Agent (Cloud Run / API)
REACT_APP_AI_AGENT_URL=https://yaikh-ai-agent-77568730259.asia-southeast1.run.app/api/ai-agent

REACT_APP_AI_AGENT_TOKEN=YOUR_USER_TOKEN_OPTIONAL

