@import url("https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@100..700&family=Suwannaphum:wght@100;300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .font-khmer {
    font-family: "Kantumruy Pro", "Suwannaphum", sans-serif !important;
    line-height: 1.6;
    letter-spacing: 0.02em;
  }
}

/* PERFORMANCE HOTFIX: 
   Globally disable backdrop filters as they cause severe rendering lag 
   on scrolling pages with many elements (like the module grids) 
   and big background images.
*/
* {
  backdrop-filter: none !important;
  
  -webkit-backdrop-filter: none !important;
}
